# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies

# Android
.android/
*.iml
.gradle/
local.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/

# Misc
.env
*.log
